.back-arrow {
    font-size: 2em;
    margin-left: 12px;
    margin-bottom: 0;
}

.header {
    font-size: 3em;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 4px
}

.impress {
    margin: 0 1em;
}

.ampersand {
    width: 1em;
    margin-left: .2em
}

.inline {
    display: inline-block
}

.less-important {
    color: darkgrey;
    font-size: .8em;
    margin: .2em .2em .2em .2em;
}

.nobreak {
    white-space: nowrap
}
